@import "./../../components/public/reset";
.index {
  background-size: 100%;
  height: 100%;
  @include flexParent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .bg-img {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
  .red{
    width:262px;
    height:160px;
    background: url($imgurl + "red.png") no-repeat;
    background-size: 100%;
    @include flexParent;
    align-items: center;
    justify-content:center;
    font-size: 94px;
    color:#fff;
    .font-icon{
      width: 80px;
      height: 80px;
      background-size: 80px;
    }
  }
  .white{
    width:267px;
    height:160px;
    background: url($imgurl + "white.png") no-repeat;
    background-size: 100%;
    @include flexParent;
    align-items: center;
    justify-content:center;
    font-size: 94px;
    color:#aa2d2d;
    .font-icon{
      width:80px;
      height:80px;
      background-size: 80px;
    }
  }
  .types1{
    @include flexParent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    flex: 1;
    .top{
      flex:2;
      @include flexParent;
      align-items: center;
      justify-content: center;
      font-size: 106px;
    }
    .middle{
      flex:4;
      @include flexParent;
      .colspan{
        flex:3;
        @include flexParent;
        flex-direction: column ;
        align-items: center;
        justify-content: center;
        .rowspan{
          flex:1;
          @include flexParent;
          align-items: center;
          justify-content:center;
        }

        .group{
          image{
            width:146px;
            height: 146px;
          }

        }

        .scope{

        }

      }
      .colspan-middle.colspan{
        flex:1
      }
    }
    .bottom{
      flex:1;
    }
  }
  .types2{
    @include flexParent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    flex: 1;
    .top{
      flex: 3;
      @include flexParent;
      align-items: center;
      justify-content: center;
      font-size: 106px;
    }
    .middle{
      flex:1;
      @include flexParent;
      align-items: flex-end;
      justify-content:center ;
      .font-icon{
        width: 131px;
        height:168px;
      }
      .fontDian{
        width: 50px;
        height: 39px;
        background-size: 50px 39px;
      }
    }
    .bottom{
      flex: 3;
      @include flexParent;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .rowspan{
        @include flexParent;
        align-items: center;
        justify-content: center;
        .red,.white{
          margin:0 80px;
          font-size: 74px;
        }
      }
      .rowspan:first-child{
        justify-content:space-between;
      }
    }
  }
  .hide{
    display: none;
  }
}
