@import "./../../components/public/reset";
.index{
  height: 100%;
  @include flexParent;
  flex-direction: column;
  .bg-img{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
  .content{
    flex:1;
  }
  .button-group{
    padding-top:150px;
    flex: 1;
    z-index: 10;
    @include  flexParent;
    align-items: center;
    justify-content:center;
    .button{
      flex: 1;
      @include flexParent;
      align-items: center;
      justify-content:center;
      color:#fff;
      view{
        width: 280px;
        height: 280px;
        @include flexParent;
        @include transition(0.5s);
        align-items: center;
        justify-content:center;
        background: url($imgurl + "redCir.png") no-repeat;
        background-size: 100%;
        font-size: 76px;
      }
      view.active{
        width: 260px;
        height: 260px;
        font-size: 54px;
      }
    }
  }
  .cover-control{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include flexParent;
    align-items: center;
    justify-content:center;
    z-index: 20;
    .cover-content{
      margin-top:180px;
      position: relative;
      .cover-img{
        width: 550px;
        height: 646px;
      }
      .button{
        position: absolute;
        width: 50%;
        bottom:40px;
        right:0;
        text-align: center;
        font-size: 70px;
        color:#fff;
        cover-view{
          @include flexParent;
          align-items: center;
          justify-content:center;
        }
      }
      .button:first-child{
        left: 0;
      }
    }
  }
  .cover-control.hide{
    display: none;
  }
}
