$imgurl: "http://111.198.29.228:18080/wxsmallimg/";

@mixin singleEllipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
@mixin flexParent{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexChide($value:1){
  -webkit-box-flex: $value ;
  -moz-box-flex: $value;
  -ms-flex: $value ;
  -webkit-flex: $value;
  flex: $value;
}
@mixin transition($value : 2s){
  transition: all $value ;
  -moz-transition: all $value;
  -webkit-transition: all $value ;
  -o-transition: all $value;
}
@mixin rotate($deg:0){
  transform:rotate($deg);
  -ms-transform:rotate($deg);
  -moz-transform:rotate($deg);
  -webkit-transform:rotate($deg);
  -o-transform:rotate($deg);
}
@mixin opacity($value:1){
  filter:alpha(opacity=$value*100);
  -moz-opacity:$value;
  -khtml-opacity: $value;
  opacity: $value;
}


@mixin wrap{
  width:100%;
  min-width: 1210px;
}
@mixin content{
  width:1210px;
  margin: 0 auto;
}
@mixin absolute($top:'',$left:'',$bottom:'',$right:''){
  position: absolute;
  top:$top;
  left:$left;
  bottom: $bottom;
  right:$right;
}

@mixin allBg{
  position: fixed;
  left:0;
  right: 0;
  top:0;
  bottom: 0;
}
