@import "./lib.scss";
@charset "utf-8";
/***********初始化页面布局***********/
body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul {margin: 0;padding: 0;}
ol,ul,li{list-style: none;}
body{font-family:Microsoft YaHei !important;}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}

.floatL{
  float: left;
}
.floatR{
  float: right;
}
.hide{
  display: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
page{
    width: 100%;
    height: 100%;

}
