@import "./../../components/public/reset";
.index {
  height: 100%;
  @include flexParent;
  align-items: center;
  justify-content:center;
  flex-direction: column ;
  .bg-img {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
  .content{
    flex: 6;
    @include flexParent;
    align-items: center;
    justify-content:center;
    flex-direction: column ;
    z-index: 10;
    color:#fff;
    .des-text{
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 28px;
      text-align: center;
    }
    .form-group{
      margin-top: 40px;
      text-align: center;
      input{
        width:468px;
        height: 75px;
        background: #fff;
        border-radius: 15px;
        color:#666874;
        margin-top: 21px;
      }
    }
    .code{
      input{
        border-radius:  15px 0 0 15px;
        width: 290px;
        float: left;
        display: inline-block;
      }
      text{
        display: inline-block;
        float: left;
        height: 75px;
        width:178px;
        background: #fac638;
        font-size: 28px;
        line-height: 75px;
        border-radius:  0 15px 15px 0;
        margin-top: 21px;
        color:#000;
      }
    }
  }
  .footer-button{
    flex:1;
    @include flexParent;
    align-items: center;
    justify-content:center;
    z-index: 10;
    .start-game{
      width:328px;
      height:88px;
      text-align: center;
      line-height: 88px;
      background: #bb4c3a;
      color: #f8f5f5;
    }
  }
  .cover-control {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include flexParent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
    .cover-content {
      position: relative;
      margin-top:8%;
      width: 560px;
      height:435px;
      color:#fff;
      @include flexParent;
      align-items: center;
      justify-content: center;
      background: url($imgurl + "fillInfoCoverBg.png");
      background-size: 100%;
      text-align: center;
      line-height: 56px;
      text{
        font-size: 45px;
      }
      .cover-close{
        width: 115px;
        height:115px;
        background: url($imgurl + "close.png");
        background-size: 100%;
        position: absolute;
        right:40px;
        top:40px;
      }
    }
  }
}
.hide{
  display: none;
}
