@import "./../../components/public/reset";

.index {
  background-size: 100%;
  height: 100%;
  @include flexParent;
  flex-direction: column ;
  align-items: center;
  justify-content:center;
  .bg-img {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
  }
  .team-info{
    flex:1;
    z-index: 10;
    @include flexParent;
    align-items: center;
    justify-content:center;
    padding-top: 150px;
    padding-bottom: 45px;
    view.red{
      background:url($imgurl + "white.png") no-repeat;
      background-size: 100%;
      color:#aa2d2d;
    }
    view.white{
      background:url($imgurl + "red.png") no-repeat;
      background-size: 100%;
      color:#fff;
    }
    view{
      width: 490px;
      height: 290px;
      @include flexParent;
      align-items: center;
      justify-content:center;
      font-size: 88px;
    }
  }
  .content{
    flex:3;
    z-index: 10;
    @include flexParent;
    flex-direction: column ;
    align-items: center;
    justify-content:center;
    .cover-rule{
      font-size: 45px;
      background-color:rgba(220,216,204,0.9) ;
    }
    .cover-des{
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      margin-top:30px;
      padding:30px 10px;
      background-color:rgba(220,216,204,0.9) ;
    }
    .cover-prop{
      font-size: 48px;
      line-height: 52px;
      margin-top:60px;
      text-align: center;
      padding:30px 10px;
      background-color:rgba(220,216,204,0.9) ;
    }
  }
  .footer-button{
    flex:1;
    @include flexParent;
    align-items: center;
    justify-content:center;
    z-index: 10;
    .start-game{
      width:429px;
      height:88px;
      text-align: center;
      line-height: 88px;
      background: #aa2d2d;
      color: #fff;
    }
  }
}
.hide{
  display: none!important;
}
